*.elc
modules/crafted-completion-packages.el~
straight/
transient/
eshell/
projects
elpa/
bookmarks
network-security.data
quelpa/
modules/.dir-locals.el
/var/
/themes
/modules/#crafted-init-config.el#
/modules/.#crafted-init-config.el
/tree-sitter
/init.el~
/.cache/
/org-roam.db
/package-quickstart.el
/.org-id-locations
/tramp
/url/
/tutorial/
/bookmarks.eld
/notes/ltximg/
/eln-cache/
/site-lisp/
